{% extends 'base.html.twig' %}

{% block title %}Short Links List{% endblock %}

{% block body %}
    <h1>Short Links List</h1>
    <div class="row">
        <div class="col">
            <a href="/short-link/new" class="btn btn-success">Create New</a>
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for link in shortLinks %}
            <tr>
                <td>{{ link.id }}</td>
                <td><a href="{{ link.fullUrl }}">{{ link.fullUrl|slice(0,40) }}...</a></td>
                <td><a href="/r/{{ link.shortCode }}">{{ link.shortCode }}</a></td>
                <td>{{ link.createdAt.format('m/d/Y') }}</td>
                <td>{{ link.updatedAt.format('m/d/Y') }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}